.front-look
{
    min-height: calc(100vh - 58px) !important;

}

.lol{
    border-radius: 50%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    display: block;
    max-height: calc(100vh - 58px) !important;
    max-width:100%;
    margin-left:auto;
    margin-right: auto;
}

.img-container
{
    text-align: center;
}

.name
{
    height: fit-content;
    
}

@media(max-width:767px)
{
    .name
    {
        margin-top:10vh;
    }
    .lol
    {

        border-radius: 50%;
        aspect-ratio: 1 / 1; 
        object-fit: cover;
        display: block;
    }
    .front-look
{
    min-height: 80vh;
}

}

.contact-wrap
{
    width:30px;
    height:30px;
    display: inline-block;
}

.contact-wrap img {
    width: 100%;
    height: 100%;
    transition:filter 0.3s ease;
}

.contact-wrap img:hover{
    filter: brightness(0) saturate(100%) invert(29%) sepia(52%) saturate(3885%) hue-rotate(221deg) brightness(101%) contrast(101%);
}

.mailto-link
{
    text-decoration: none;
    transition:color 0.3s ease;
    color:black;
    font-weight: bold;
}

.mailto-link:hover
{
    text-decoration: none;
    color:#404040;
}